{% extends "admin/base.html" %} {% load i18n %} {% block title %}{{ title }} | {% trans 'Ordenes por revisar' %}{% endblock %} {% block branding %}
<h1 id="site-name">{% trans 'Ordenes por revisar' %}</h1>
{% endblock %} {% block header %} {% endblock %} {% block content %} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" />

    <title>Ordenes de compra</title>
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-center">
        <table id="myTable" class="table table-striped table-bordered w-100">
          <thead>
            <th class="text-center">id</th>
            <th class="text-center">Celular Cliente</th>
            <th class="text-center">Tienda</th>
            <th class="text-center">Celular Tienda</th>
            <th class="text-center">Fecha Creación</th>
            <th class="text-center">Metodo de pago</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Precio entrega</th>
            <th class="text-center">Precio productos</th>
            <th class="text-center">Precio total</th>
            <th class="text-center">Productos</th>
          </thead>
          <tbody>
            {% for order in orders%}
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.clientUser.phone}}</td>
              <td>{{order.store.name}}</td>
              <td>{{order.store.phone}}</td>
              <td>{{order.orderDate}}</td>
              <td>{{order.paymentMethod.name}}</td>
              <td>{{order.state.name}}</td>
              <td>{{order.shipPrice|intcomma}}</td>
              <td>{{order.total|intcomma}}</td>
              <td>{{order.totalDelivery|intcomma}}</td>
              <td>
                <ul class="list-group">
                  {% for product in productOrders%} {% if order.id == product.order.id %}

                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{product.product.name}}
                    <span class="badge badge-primary badge-pill">{{product.quantity}}</span>
                    \r\n
                  </li>
                  {% endif %} {% endfor %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#myTable").DataTable({
          dom: "Bfrtip",
          buttons: ["excel", "pdf"],
        });
      });
    </script>
  </body>
</html>

{% endblock %}
