{% extends "admin/base.html" %} {% load i18n %} {% block title %}{{ title }} | {% trans 'Ordenes por revisar' %}{% endblock %} {% block branding %}
<h1 id="site-name">{% trans 'Ordenes por revisar' %}</h1>
{% endblock %} {% block header %} {% endblock %} {% block content %} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <title>Ordenes de compra</title>
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-center">
        <table class="table table-striped table-bordered w-100">
          <thead>
            <th class="text-center">id</th>
            <th class="text-center">Celular Cliente</th>
            <th class="text-center">Tienda</th>
            <th class="text-center">Celular Tienda</th>
            <th class="text-center">Fecha Creación</th>
            <th class="text-center">Dirección de entega</th>
            <th class="text-center">Metodo de pago</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Precio entrega</th>
            <th class="text-center">Precio productos</th>
            <th class="text-center">Precio total</th>
            <th class="text-center">Productos</th>
            <th class="text-center">Aceptar orden</th>
          </thead>
          <tbody>
            {% for order in orders%}
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.clientUser.phone}}</td>
              <td>{{order.store.name}}</td>
              <td>{{order.store.phone}}</td>
              <td>{{order.orderDate}}</td>
              <td>{{order.address.address}}</td>
              <td>{{order.paymentMethod.name}}</td>
              <td>{{order.state.name}}</td>
              <td>{{order.shipPrice|intcomma}}</td>
              <td>{{order.total|intcomma}}</td>
              <td>{{order.totalDelivery|intcomma}}</td>
              <td>
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <th class="text-center">Nombre Producto</th>
                    <th class="text-center">Cantidad Producto</th>
                    <th class="text-center">Adiciones</th>
                    <th class="text-center">Observaciones</th>
                  </thead>
                  <tbody>
                    {% for product in productOrders%} {% if order.id == product.order.id %}
                    <tr>
                      <td>{{product.product.name}}</td>
                      <td>{{product.quantity}}</td>
                      <td>
                        <table class="table table-bordered">
                          <thead class="thead-dark">
                            <th class="text-center">Nombre Adición</th>
                            <th class="text-center">Cantidad Adición</th>
                          </thead>
                          <tbody>
                            {% for addition in productAddition%} {% if product.id == addition.productOrder.id %}
                            <tr>
                              <td>{{addition.addition.addition.name}}</td>
                              <td>{{addition.quantity}}</td>
                            </tr>
                            {% endif %} {% endfor %}
                          </tbody>
                        </table>
                      </td>
                      <td>{{product.observation}}</td>
                    </tr>
                    {% endif %} {% endfor %}
                  </tbody>
                </table>
              </td>
              <td class="align-middle">
                {% if order.state.name == "Creada" %}
                <div class="col-12 mb-4">
                  <button class="btn btn-success w-100" onclick="acceptOrder('{{order.id}}');">Aceptar</button>
                </div>
                <div class="col-12"></div>
                  <button class="btn btn-danger w-100" onclick="rejectOrder('{{order.id}}');">Rechazar</button>
                </div>
                {% endif %} 

                <div class="col-12">
                  {% if order.state.name == "Aceptada" %}
                  <p class="btn btn-success">Orden aceptada</p>
                  {% elif order.state.name == "Rechazada" %}
                  <p class="btn btn-danger">Orden rechazada</p>
                  {% endif %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- orders':orders, 'productOrders':productOrders, 'productAddition':productAddition -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function acceptOrder(orderId) {
        $.ajax({
          data: { csrfmiddlewaretoken: "{{ csrf_token }}", orderId: orderId },
          type: "POST",
          url: "{% url 'accept_order' %}",
          success: function (response) {
            if (response != 0) {
              alert("Se ha aceptado la orden " + response);
              location.reload();
            } else {
              alert("Error, por favor intenta de nuevo");
            }
          },
          error: function (response) {
            alert(response.responseJSON.errors);
            console.log(response.responseJSON.errors);
          },
        });
      }
      function rejectOrder(orderId) {
        $.ajax({
          data: { csrfmiddlewaretoken: "{{ csrf_token }}", orderId: orderId },
          type: "POST",
          url: "{% url 'reject_order' %}",
          success: function (response) {
            if (response != 0) {
              alert("Se ha rechazado la orden " + response);
              location.reload();
            } else {
              alert("Error, por favor intenta de nuevo");
            }
          },
          error: function (response) {
            alert(response.responseJSON.errors);
            console.log(response.responseJSON.errors);
          },
        });
      }
    </script>
  </body>
</html>

{% endblock %}
