{% extends "admin/base.html" %} {% load i18n %} {% block title %}{{ title }} | {% trans 'Orden' %}{% endblock %} {% block branding %}
<h1 id="site-name">{% trans 'Orden' %}</h1>
{% endblock %} {% block header %} {% endblock %} {% block content %} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <title>Ordenes de compra</title>
    <style>
      .borderless .list-group-item {
        border: none;
      }
    </style>
  </head>
  <body>
    <div class="container-flow">
      <div class="row">
        <div class="col-12"><span class="font-weight-bold">Nº PEDIDO:</span> {{order.id}}</div>
        <div class="col-12"><span class="font-weight-bold">FECHA:</span> {{order.orderDate|date:"M-d-Y"}}</div>
        <div class="col-12"><span class="font-weight-bold">ALIADO:</span> {{order.store.name}}</div>
        <div class="col-12 mb-4"><span class="font-weight-bold">TELÉFONO ALIADO:</span> {{order.store.phone}}</div>
        <div class="col-12"><span class="font-weight-bold">NOMBRE: </span> {{order.clientUser.first_name}}</div>
        <div class="col-12"><span class="font-weight-bold">TELÉFONO CLIENTE:</span> {{order.clientUser.phone}}</div>
        <div class="col-12"><span class="font-weight-bold">DIRECCIÓN:</span> {{order.address.address}} &nbsp; {{order.address.city.name}}</div>
        <div class="col-12"><span class="font-weight-bold">PRECIO DOMICILIO:</span> {{order.shipPrice|intcomma}}</div>
        <div class="col-12"><span class="font-weight-bold">TOTAL PRODUCTOS:</span> {{order.total|intcomma}}</div>
        <div class="col-12"><span class="font-weight-bold">TOTAL ORDEN:</span> {{order.totalDelivery|intcomma}}</div>
        <div class="col-12 mb-4"><span class="font-weight-bold">MÉTODO DE PAGO:</span> {{order.paymentMethod.name}}</div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Adiciones</th>
              </tr>
            </thead>
            <tbody>
              {% for product in productOrders%} {% if order.id == product.order.id %}
              <tr>
                <td class="w-25">
                  {{product.product.name}}<br /><br />
                  {{product.observation}}
                </td>
                <td class="w-25 text-center">{{product.quantity}}</td>
                <td class="w-50">
                  <ol class="list-group list-group-numbered">
                    {% for addition in productAddition%} {% if product.id == addition.productOrder.id %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold font-weight-bold">{{addition.addition.addition.name}}</div>
                        CANTIDAD: {{addition.quantity}}
                      </div>
                    </li>
                    {% endif %} {% endfor %}
                  </ol>
                </td>
              </tr>
              {% endif %} 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        {% if order.state.name == "Creada" %}
        <div class="col-6">
          <button class="btn btn-success w-75" onclick="acceptOrder('{{order.id}}');" >Aceptar</button>
        </div>
        <div class="col-6">
          <button class="btn btn-danger w-75" onclick="rejectOrder('{{order.id}}');" >Rechazar</button>
        </div>
        {% endif %}
        <div class="col-12">
          {% if order.state.name == "Aceptada" %}
          <p class="btn btn-success">Orden aceptada</p>
          {% elif order.state.name == "Rechazada" %}
          <p class="btn btn-danger">Orden rechazada</p>
          {% endif %}
        </div>
        </div>
      </div>
    </div>

    <!-- orders':orders, 'productOrders':productOrders, 'productAddition':productAddition -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function acceptOrder(orderId) {
        console.log(orderId);
        console.log("{{ csrf_token }}");
        $.ajax({
          data: { csrfmiddlewaretoken: "{{ csrf_token }}", orderId: orderId },
          type: "POST",
          url: "{% url 'accept_order' %}",
          success: function (response) {
            if (response != 0) {
              alert("Se ha aceptado la orden " + response);
              location.reload();
            } else {
              alert("Error, por favor intenta de nuevo");
            }
          },
          error: function (response) {
            alert(response.responseJSON.errors);
            console.log(response.responseJSON.errors);
          },
        });
      }

      function rejectOrder(orderId) {
        $.ajax({
          data: { csrfmiddlewaretoken: "{{ csrf_token }}", orderId: orderId },
          type: "POST",
          url: "{% url 'reject_order' %}",
          success: function (response) {
            if (response != 0) {
              alert("Se ha rechazado la orden " + response);
              location.reload();
            } else {
              alert("Error, por favor intenta de nuevo");
            }
          },
          error: function (response) {
            alert(response.responseJSON.errors);
            console.log(response.responseJSON.errors);
          },
        });
      }
    </script>
  </body>
</html>

{% endblock %}
