{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Domi Antojo</title>
    <meta http-equiv="Content-Type" content="text/html; ISO-8859-1" />
    <meta name="DC.Language" scheme="RFC1766" content="Spanish" />
    <meta name="author" content="Domi Antojo" />
    <meta name="reply-to" content="info@domiantojo.com" />
    <link rev="made" href="mailto:info@domiantojo.com" />
    <meta name="description" content="Página web de domicilios en las ciudades Sogamoso, Duitama, Paipa, entre otras" />
    <meta name="keywords" content="Domicilios,Antojos,Restaurantes,Ferreterias,Droguerias,Farmacias" />
    <meta name="Resource-type" content="Document" />
    <meta name="DateCreated" content="Mon, 29 June 2020 00:00:00 GMT-5" />
    <meta name="Revisit-after" content="90 days" />
    <meta name="robots" content="ALL" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9JD86DMYJJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-9JD86DMYJJ");
    </script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="16x16" />
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}" />

    <!-- Custom styles for this template -->
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Domi Antojo</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menú
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5 font-weight-bold">¡Próximamente! <br /><br />A la orden con tu orden</h1>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <h2 class="font-weight-bold">Encuentranos en:</h2>
            <div class="row">
              <div class="col"><img width="80%" src="{% static 'img/google-play-badge.svg' %}" /></div>
              <div class="col"><img width="80%" src="{% static 'img/app-store-badge.svg' %}" /></div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <footer>
      <div class="container">
        <p>&copy; Domi Antojo 2020. Todos los derechos reservados.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Políticas de privacidad</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Términos y condiciones</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Preguntas frecuentes</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/new-age.min.js' %}"></script>
  </body>

  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

  <script>
    //iPhone Version:
    if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)) {
      window.location = "https://apps.apple.com/co/app/brave-fast/id1559151504";
    }
    //Android Version:
    if (navigator.userAgent.match(/android/i)) {
      window.location = "https://play.google.com/store/apps/details?id=com.domiantojo.domiantojo";
    }
    //Blackberry Version:
    if (navigator.userAgent.match(/blackberry/i)) {
      window.location = "https://play.google.com/store/apps/details?id=com.domiantojo.domiantojo";
    }
  </script>
</html>
