{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Domi Antojo</title>
    <meta http-equiv="Content-Type" content="text/html; ISO-8859-1" />
    <meta name="DC.Language" scheme="RFC1766" content="Spanish" />
    <meta name="author" content="Domi Antojo" />
    <meta name="reply-to" content="info@domiantojo.com" />
    <link rev="made" href="mailto:info@domiantojo.com" />
    <meta name="description" content="Página web de domicilios en las ciudades Sogamoso, Duitama, Paipa, entre otras" />
    <meta name="keywords" content="Domicilios,Antojos,Restaurantes,Ferreterias,Droguerias,Farmacias" />
    <meta name="Resource-type" content="Document" />
    <meta name="DateCreated" content="Mon, 29 June 2020 00:00:00 GMT-5" />
    <meta name="Revisit-after" content="90 days" />
    <meta name="robots" content="ALL" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9JD86DMYJJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-9JD86DMYJJ");
    </script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="16x16" />
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}" />

    <!-- Custom styles for this template -->
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Domi Antojo</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menú
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#know">Conócenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#allies">Aliados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contáctanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#getus">Encuéntranos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5 font-weight-bold">¡Domi Antojo, la nueva forma de tener lo que quieres en casa!</h1>
              <h2 class="font-weight-bold">¡Muy Pronto!</h2>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="{% static 'img/mockup-cellphone.png' %}" class="img-fluid" alt="" />
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="know">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Descubre mas sobre Domi Antojo</h2>
            <p>Pronto estaremos disponibles en:</p>
            <div class="badges">
              <a class="badge-link" href=""><img src="{% static 'img/google-play-badge.svg' %}" alt="" /></a>
              <a class="badge-link" href=""><img src="{% static 'img/app-store-badge.svg' %}" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="allies">
      <div class="container">
        <div class="section-heading text-center">
          <h1 class="font-weight-bold">Nuestros aliados</h1>
          <p class="text-muted">¡Conoce quienes son nuestros aliados!</p>
          <hr />
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="{% static 'img/mockup-cellphone.png' %}" class="img-fluid" alt="" />
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-home text-primary"></i>
                    <h3>Restaurantes</h3>
                    <p class="text-muted">Los mejores platos que puedas imaginar!</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-chemistry text-primary"></i>
                    <h3>Farmacias</h3>
                    <p class="text-muted">Todos los medicamentos que necesites!</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-basket text-primary"></i>
                    <h3>Supermercados</h3>
                    <p class="text-muted">Todos los productos que necesites en tu hogar!</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-rocket text-primary"></i>
                    <h3>Muchos mas</h3>
                    <p class="text-muted">Y muchos mas productos para ti y tu familia!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta" id="contact">
      <div class="cta-content">
        <div class="container">
          <h2>Contáctanos</h2>
          <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Cuentanos tus dudas!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="contact bg-primary" id="getus">
      <div class="container">
        <h2>
          Nosotros
          <i class="fas fa-heart"></i>
          los nuevos amigos!
        </h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-instagram">
            <a href="https://www.instagram.com/domi_antojo/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="https://www.facebook.com/domi.antojo" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; Domi Antojo 2020. Todos los derechos reservados.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Políticas de privacidad</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Términos y condiciones</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Preguntas frecuentes</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/new-age.min.js' %}"></script>
  </body>
</html>
