{% load static %}
{% load humanize %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta http-equiv="Content-Type" content="text/html; ISO-8859-1">
    <meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
    <meta name="author" content="Domi Antojo">
    <meta name="reply-to" content="info@domiantojo.com">
    <link rev="made" href="mailto:info@domiantojo.com">
    <meta name="description" content="Página web de domicilios en las ciudades Sogamoso, Duitama, Paipa, entre otras">
    <meta name="keywords" content="Domicilios,Antojos,Restaurantes,Ferreterias,Droguerias,Farmacias">
    <meta name="Resource-type" content="Document">
    <meta name="DateCreated" content="Mon, 29 June 2020 00:00:00 GMT-5">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">

    <title>{{store.name}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{store.icon.url}}">

    

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


</head>

<body class="full-wrapper">

    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{store.icon.url}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <!-- header end -->
    <main>
        <!--? Hero Area Start-->
        <div class="container-fluid">
            <div class="slider-area">
                <div class="header-right2 d-flex align-items-center">
                    <div class="header-social  d-block d-md-none">
                        <a href="{{store.igUrl}}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="">
                    <div class="hero-overly slider-height d-flex align-items-center" style="background-image:url('{{store.icon.url}}');background-repeat: no-repeat;
                    background-size:contain;">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-9">
                                    <div class="hero__caption">
                                        <!-- <h1>{{store.name}}</h1> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popular-items pt-50">
            <div class="container-fluid">
                <div class="row">
                    {% for product in products %}
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s"
                            data-wow-delay=".2s">
                            <div class="popular-img">
                                <img style="width:100%;" src="{{product.icon.url}}" alt="">
                            </div>
                            <div class="popular-caption">

                                <h3 style="font-weight: bold;padding-top: 10px;">{{product.name}}</h3>
                                <h5>{{product.description}}</h5>
                                <span>${{product.price|intcomma}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-bottom-area" style="background: #F7931E;">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p style="color:black">
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> Todos los
                                    derechos reservados |
                                    Esta plantilla fue hecha con <i style="color:red" class="fa fa-heart"
                                        aria-hidden="true"></i> por <a style="color:black" href="https://domiantojo.com"
                                        target="_blank">Domi Antojo</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Slick-slider , Owl-Carousel ,slick-nav -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- One Page, Animated-HeadLin, Date Picker -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/gijgo.min.js' %}"></script>

    <!-- Nice-select, sticky,Progress -->
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'assets/js/jquery.barfiller.js' %}"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/hover-direction-snake.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <script src="{% static 'assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/mail-script.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>